<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/simple-line-icons.css" />
    <link rel="stylesheet" href="../../css/morris.min.css" />
    <link rel="stylesheet" href="../../css/jquery.scrollbar.min.css" />
    <link rel="stylesheet" href="../../css/styles.min.css" />
</head>

<body>

    <div class="content-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Trang chi tiết</h4>
                        <a href="#!/product/list"><input type="text" class="btn btn-success" value="List Product"></a>
                    </div>
                    <div class="card-body">
                        <div id="default">
                            <div class="accordian">
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#default">
                                    <div class="accordian-body">
                                        <div class="row">
                                            <p>{{p.id}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordian">
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#default">
                                    <div class="accordian-body">
                                        <div class="row">
                                            <p>{{p.name}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordian">
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#default">
                                    <div class="accordian-body">
                                        <div class="row">
                                            <p>{{p.price}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>